{% if page.tags and page.tags.size > 0 %}
  {% assign related_news = site.news | where_exp: "item", "item.tags" | sort: "date" | reverse %}
  {% assign matching_news = "" | split: "" %}

  {% for news_item in related_news %}
    {% if news_item.tags and news_item.tags.size > 0 %}
      {% assign has_common_tag = false %}
      {% for tag in page.tags %}
        {% if news_item.tags contains tag %}
          {% assign has_common_tag = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if has_common_tag %}
        {% assign matching_news = matching_news | push: news_item %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if matching_news.size > 0 %}
    <div class="related-news mt-4">
      <h2>Related News</h2>
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          {% for item in matching_news limit: 10 %}
            <tr>
              <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
              <td>
                {% if item.inline %}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
{% endif %}
